body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #FFF;
    font-weight: 700;
}

.blue-button {
    background-color: #006aff;
    border: 1px solid #006aff;
    color: #fff;
    border-radius: 5px;

}

.white-button {
    background-color: transparent;
    border: 1px solid #006aff;
    color: #006aff;
    border-radius: 5px;
}

.navbar.navbar-default {
    margin-bottom: 0;
}

.navbar:first-child {
    min-height: 0px;
    border: 0;
}

.navbar:first-child .navbar-text {
    margin-top: 12px;
    margin-bottom: 0;
    background-color: #00D7D2;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: 700;
}

#navbar-collapse-1 .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 5px;
}

.navbar:first-child .navbar-text,
#navbar-collapse-1 .navbar-nav>li>a {
    font-size: 12px;
}

.navbar-default .navbar-nav>li>a {
    color: #031b4f;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #006CFF;
}

.container-fluid {
    background-color: #FFF;
}

.navbar:first-child .nav {
    height: 40px;
}

.navbar-brand img {
    max-height: 28px;
}

.navbar:last-child .nav {
    height: 70px;
    padding-top: 10px;
}

.navbar-header {
    padding-top: 5px;
}

.nav.navbar-nav.navbar-right.bottom a {
    padding: 10px 10px 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: #006CFF;
}

.nav.navbar-nav.navbar-right.bottom .blue-button {
    color: #FFF;
}


/* jumbotron */

.jumbotron {
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    background-size: cover;
    background-color: #0069ff;
    margin-bottom: 0;
}


.jumbotron h1,
.jumbotron p {
    color: #FFF;
}

.jumbotron p {
    font-size: 24px;
}

.alert-info {
    background-color: #031b4e;
    color: #FFF;
    font-size: 16px;
    border: 0;
    border-radius: 6px;
}

a.alert {
    text-decoration: none;
}

.alert-info:hover {
    background-color: #15cd72;
}

.panel-default {
    max-width: 370px;
}

.panel {
    border-radius: 5px;
}

.panel-title {
    background-color: #f3f5f9;
}

.panel-heading {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: none;
}

.panel-title,
.btn-lg {
     font-weight: 700;
}

.btn-lg {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.panel-body .input-lg:first-child {
    margin-top: 20px;
}

.panel-body .input-lg:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-body .input-lg:last-child {
    margin-top: 10px;
}

.panel-body .btn-lg {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #0069ff;
    white-space: normal;
}

.panel-body {
    border-bottom: 1px solid #f3f5f9;
}

.panel-footer .btn-lg:first-child {
    padding: 10px 55px;
    margin-right: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: normal;
}

.panel-footer .btn-lg:last-child {
    padding: 10px 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-footer {
    background-color: #FFF;
}

.bottom-form p {
    font-size: 12px;
}

.form-container {
    max-width: 370px;
    margin: auto;
}

/* brands */
.all-brands {
    background-color: #f3f5f9;
    padding-top: 50px;
    padding-bottom: 50px;
}

.all-brands h4 {
    font-weight: 700;
    padding-bottom: 30px;
    color: #5b6987;
}

.brand img {
    margin: auto;
}

a.solutions {
    font-size: 18px;
    font-weight: 700;
    color: #0069ff;
}
.see {
    padding-top: 50px;
}

.img-container {
    max-width: 156px;
    margin: auto;
}

/* deploy-and-scale*/

.deploy-and-scale .container,
.carousel .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

h2 {
    font-weight: 700;
    color: #031b4e;
}

.col-sx-12.col-lg-8.col-lg-offset-2.text-center p {
    padding-top: 10px;
    padding-bottom: 50px;
    font-weight: 300;
    color: #031b4e99;
    font-size: 20px;
}


.col-xs-12.col-sm-6.col-md-6.text-center p{
    font-weight: 400;
    padding-bottom: 20px;
}


.col-sm-3.col-md-3 .list-group-item {
    border: 0;
    border-bottom: 2px solid #f3f5f9;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.col-sm-3.col-md-3 .list-group>li>a {
    color: #031b4e99;
    font-size: 18px;
    border-radius: 0;
    padding: 20px 25px;
}

.col-sm-3.col-md-3 .list-group>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #031b4e;
    text-decoration: none;
}

.col-sm-3.col-md-3 .list-group-item:hover {
    border-bottom: 2px solid #006aff;
}


 /* carousel */

.carousel {
    background-color: #f3f5f9;
}

.item.active.img-container {
    max-width: 778px;
    margin: auto;
}








@media (min-width: 768px) {

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .nav-stacked {
        display: block;
    }

    .col-sm-3.col-md-3 .list-group>.list-group-item {
        display: inline-block;
    }

    .col-sm-3.col-md-3>.list-group.text-center {
        text-align: justify;
    }

    .col-sm-3.col-md-3 .list-group-item {
        border: 0;
        border-left: 2px solid #f3f5f9;
        padding-left: 20px;
    }

    .col-sm-3.col-md-3 .list-group-item:hover {
        border-left: 2px solid #006aff;
        border-bottom: 0;
    }

    .list-group-item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .col-xs-12.col-sm-6.col-md-6.text-center {
        text-align: justify;
        padding-bottom: 50px;
    }

}

@media (min-width: 1024px) {

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
    }

}
