body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #FFF;
    font-weight: 700;
}

.blue-button {
    background-color: #006aff;
    border: 1px solid #006aff;
    color: #fff;
    border-radius: 5px;

}

.white-button {
    background-color: transparent;
    border: 1px solid #006aff;
    color: #006aff;
    border-radius: 5px;
}

.navbar.navbar-default {
    margin-bottom: 0;
}

.navbar:first-child {
    min-height: 0px;
    border: 0;
}

.navbar:first-child .navbar-text {
    margin-top: 12px;
    margin-bottom: 0;
    background-color: #00D7D2;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: 700;
}

#navbar-collapse-1 .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 5px;
}

.navbar:first-child .navbar-text,
#navbar-collapse-1 .navbar-nav>li>a {
    font-size: 12px;
}

.navbar-default .navbar-nav>li>a {
    color: #031b4f;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #006CFF;
}

.container-fluid {
    background-color: #FFF;
}

.navbar:first-child .nav {
    height: 40px;
}

.navbar-brand img {
    max-height: 28px;
}

.navbar:last-child .nav {
    height: 70px;
    padding-top: 10px;
}

.navbar-header {
    padding-top: 5px;
}

.nav.navbar-nav.navbar-right.bottom a {
    padding: 10px 10px 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: #FFF;
}

.nav.navbar-nav.navbar-right.bottom a:first-of-type {
    color: #006CFF;
}
